

<form method="post">
    <input type="hidden" name="oficio" value="@ViewBag.Oficio" />
    <label>Cuando le quieres subir?</label>
    <input type="number" name="incremento" class="form-control col-4 mt-1" />
    <button class="btn btn-success mt-1">Subir</button>
</form>
