<form method="post">
    <input type="number" name="iddoctor" placeholder="id doctor" />
    <input type="text" name="esp" placeholder="esp doctor" />
    <button type="submit" class="btn btn-success">Update</button>
</form>